.gif_box.bg01 { background-image: url(/images/bg01.gif);}
.gif_box.bg02 { background-image: url(/images/bg02.gif);}
.gif_box.bg03 { background-image: url(/images/bg03.gif);}
.gif_box.bg04 { background-image: url(/images/bg04.gif);}


