html, body { width: 100%; height: 100%; margin: 0 }
.container { position: relative; width: 100%; height: 100%;}
.img_box { width: 100%; height: 100%; position: relative; left: 50%; transform: translateX(-50%); background-repeat: no-repeat; background-size: cover; }

.img_box.bg01 { background-image: url(https://github.com/winterofchoi/web2/blob/main/../images/bg01.gif); }
.img_box.bg02 { background-image: url(https://github.com/winterofchoi/web2/blob/main/../images/bg02.gif); }
.img_box.bg03 { background-image: url(https://github.com/winterofchoi/web2/blob/main/../images/bg03.gif); }
.img_box.bg04 { background-image: url(https://github.com/winterofchoi/web2/blob/main/../images/bg04.gif); }


